body {
  font-family: 'Archivo', sans-serif;
  background-color: #121212;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  padding-top: 3rem;
}

header {
  font-size: 120%;
  width: 100%;
  margin: 0;
  padding: 1rem 0;
  background-color: #121212;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure header stays on top */
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 5%;
}

header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: #ff9500;
}

/* Main */
main {
  padding-top: calc(1rem + 60px); /* Adjust 60px to match the header height */
}

/* Form */
form {
  width: 100%;
  max-width: 500px;
  background-color: #181818;
  padding: 1rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

form div {
  width: 100%;
  margin-bottom: 3%;
  flex-direction: column;
}

form label {
  display: block;
  margin-bottom: 1%;
  font-weight: bold;
  color: #ffffff;
}

form input {
  width: 80%;
  padding: 10px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #282828;
  border: 1px solid #282828;
  border-radius: 0.6rem;
  outline: none;
  transition: border-color 0.3s ease;
  text-align: center;
}

form input:focus {
  border-color: #ff9500;
}

form button {
  width: 80%;
  padding: 0.625em 1.25em;
  background-color: #282828;
  color: #ffffff;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #ff9500;
  color: #181818;
}

.error-message {
  color: #ff3b30;
  font-size: 0.8em;
  margin-top: 1%;
  display: block;
  visibility: hidden;
  min-height: 1.5rem;
}

.error-visible {
  visibility: visible;
}

/* Star Rating */
.rate fieldset {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 10px;
  border: none;
}

.rate input {
  display: none;
}

.rate label {
  font-size: 300%;
  color: #b3b3b3;
  cursor: pointer;
}

.rate label:hover,
.rate label:hover ~ label {
  color: #ff9500;
}

.rate input:checked ~ label {
  color: #ff9500;
}
